# Python cache and environment
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
**/.env
.venv/
env/
ollama_langchain_lab_venv/
apps/Hugging_Face/.env/
**/.ipynb_checkpoints/
wms-project/

# VS Code
.vscode/

*.sh
!deploy.sh

# IDE files
.idea/

# Mac/Windows system files
.DS_Store
Thumbs.db
